<div
  [ngClass]="{'member-item--checkedIn': model.checkedIn, 'member-item--editing': editing}"
  class="member-item"
  tabindex="0">

  <div class="cell">
    <button
      *ngIf="!editing"
      (click)="toggleStatus()"
      aria-label="Mark member as checkedIn"
      class="member-item__button"
      type="button">
      <span class="icon material-icons" [ngClass]="{'icon--checkedOut': model.checkedIn}">done</span>
    </button>
  </div>

  <div class="cell">
    <div
      *ngIf="!editing"
      class="member-item__title"
      tabindex="0">
      {{ model.title }}
    </div>

    <form class="member-form" *ngIf="editing" (ngSubmit)="saveTitle()" novalidate>
      <input
        (blur)="stopEditing()"
        (keyup.escape)="stopEditing()"
        ngControl="title"
        [(ngModel)]="title"
        autocomplete="off"
        autofocus
        class="member-item__input"
        type="text">
    </form>
  </div>

  <div class="cell">
    <button
      *ngIf="editing"
      (click)="stopEditing()"
      aria-label="Cancel editing"
      class="member-item__button"
      type="button">
      <span class="icon material-icons">&#xe14c;</span>
    </button>
    <button
      *ngIf="!editing"
      (click)="editTitle()"
      aria-label="Edit member title"
      class="member-item__button"
      type="button">
      <span class="icon material-icons">edit</span>
    </button>
    <button
      *ngIf="!editing"
      (click)="delete()"
      aria-label="Delete member"
      class="member-item__button"
      type="button">
      <span class="icon material-icons">delete</span>
    </button>
  </div>
</div>
