<ul class="member-filters">
  <li><a [class.checkedOut]="!filter" [routerLink]="['/Members']">View All</a></li>
  <li><a [class.checkedOut]="filter == 'checkedOut'" [routerLink]="['/Members', {filter: 'checkedOut'}]">Checked Out</a></li>
  <li><a [class.checkedOut]="filter == 'checkedIn'" [routerLink]="['/Members', {filter: 'checkedIn'}]">Checked In</a></li>
</ul>

<div class="member-list">
  <member-item [model]="member" *ngFor="#member of members | async | filterMembers:filter"></member-item>
</div>
